main ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 90%;
}
@media only screen and (max-width: 600px) {
  main ul {
    justify-content: center;
  }
}

@media only screen and(max-width: 834px) and(min-width: 601px){
  main ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
  }
}
