body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #A6E5D0;
}

.contenedor-catalogo{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.cabeza-catalogo{
  text-align: center;
}

.cabeza-catalogo h2{
  font-size: 1.8rem ;
}

.cabeza-catalogo p{
  font-weight: 300;
  padding: 1.8rem;
  color: blueviolet;
  font-size: 1.5rem;
}

.dropdown-content{
  padding: 0.6rem;
  display: flex;
  justify-content: center;
}
.filtro-catalogo{
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  background: none;
  border: none;
  color: #FFFFFF;
  display: flex;
  margin: 0 1rem;
  cursor: pointer;
  outline: 0;
  transition: opacity 0.4s ease-out;
  flex-direction: row;
}

.filtro-catalogo::after{
  content: "";
  display: block;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
  margin-top: 0.5rem;
  width: 0;
  transition: width 0.4s ease-out;
}

.filtro-catalogo:hover::after{
  width: 100%;
}

.filtro-catalogo:hover{
  opacity: 0.8;
}

.active-btn{
  color: #007bff;
}

.animales{
  margin: 2rem 0;
}

.Animal{
  overflow: hidden;
  background-color: #FFFFFF;
  color: #222222;
  margin: 0.6rem 0;
  display: grid;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


.animalDescription{
  padding: 1rem;
  margin-left: 50px;

}

.animal-img img{
  width: 50%;
}

.animal a{
  text-align: right;
}

.animal_name{
  color: #b3d4fc;
  font-weight: 500;
  text-transform: capitalize;
  margin-left: 50px;
}

.categoria{
  padding-top: 0.2rem;
  font-size: 1rem;
  font-weight: 800;
  margin-left: 50px;
}

.categoria span{
  font-weight: 500;
}

@media screen and (min-width: 600px){
  .Animal{
    display: grid;
    grid-template-columns: 25% auto;
    align-content: center;
    padding: 1rem;
    column-gap: 1rem;
  }
  .animalDescription{
    padding: 0;
  }
}

@media only screen and (max-width: 600px){

  .animales{
    width: 80%;
    justify-content: center;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }

  .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
  }

  .dropdown-content button:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:focus-within .dropdown-content {
    display: block;
  }

}

@media screen and (min-width: 1200px){
  .cabeza-catalogo p{
    width: 50%;
  }
  .animales{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
  }
  .dropbtn{
    display: none;
  }
}
