/* Estilos para el catálogo y los filtros */
.catalogo {
  text-align: center;
}

.filtros-catalogo {
  margin-bottom: 20px;
}

.filtro-catalogo {
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
}

.filtro-catalogo.active-btn {
  background-color: #ddd;
}

.animales {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Animal {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  width: 200px;
}

/* Estilos para las imágenes de los animales */
.animal-img img {
  width: 100%;
  height: auto;
}

/* Estilos para la descripción de los animales */
.animalDescription {
  text-align: left;
}
