.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.producto {
  flex: 0 0 calc(35% - 20px);
  border: 10px solid #b3d4fc;
  margin: 120px;
  padding: 10px;
  box-sizing: border-box;
}
.producto img {
  width: 100%;
}
.producto__title {
  font-size: 20px;
  margin: 10px 0;
}
.producto__price {
  color: #f00;
}
