body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #A6E5D0;

}

.nombre {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin: 0;
}

h2 {

  font-size: 18px;
  color: #666;
  margin: 0;
}

.foto {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 230px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.minifoto {
  text-align: left;
  flex: 1;
  padding: 0 20px;
}

.minifoto img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.descripcion {
  margin: 20px;
  text-align: center;
}

.descripcion h1 {
  font-size: 20px;
}

.descripcion p {
  font-size: 14px;
  line-height: 1.5;
}

main section div,
main section hgroup{
  background-color: #E5F6FF;
}
.imagen_principal{
  margin-right: 50px;
}
