main {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

main div#contenedor-entradas {
  display: grid;
  column-gap: 20px;
}

main section {
  background: #FFFFFF;
  border: 1px solid #555555;
}

main section label {
  font-size: 25px;
}

main section#calendario {
  grid-column: 1;
  display: flex;
  flex-direction: column;
}

main section#entradas {
  grid-column: 2;
}

main section#entradas p {
  text-align: center;
  margin: 8px;
}

main section#entradas img {
  transform: scale(0.7);
}

main section#entradas div#formulario-entradas input {
  text-align: center;
}

main section#entradas div#contenedor-boton {
  display: flex;
  justify-content: center;
}

main section#entradas button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px){
  main div#contenedor-entradas {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, 2fr);
    column-gap: 0;
    row-gap: 20px;
  }

  main section#entradas {
    grid-column: 1;
    grid-row: 2;
  }
}
@media only screen and (max-width: 834px){
  main div#contenedor-entradas {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, 2fr);
    column-gap: 0;
    row-gap: 20px;
  }

  main section#entradas {
    grid-column: 1;
    grid-row: 2;
  }
}

