.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  position: relative;
  margin-top: auto;
  margin-bottom: 1.5rem;
}

.footer nav{
  background: #b3d4fc;
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.footer img:hover{
  transform: scale(1.5);
  transition: 200ms;
}

.footer a:hover{
  font-size: larger;
  transition: 200ms;
}
