.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10rem;
  position: sticky;
  z-index: 1;
}

.header .logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #A6E5D0;
  border: none;
  padding-left: 20%;

}

.header .logo-container img {
  transform: scale(0.6);
  cursor: pointer;
}

.header .logo-container img:hover {
  transform: scale(0.8);
}

.header img:hover{
  transform: scale(2.5);
  transition: 200ms;
}

.header a:hover{
  font-size: larger;
  transition: 200ms;
}

.header nav {
  height: 7rem;
  width: 35%;
  cursor: pointer;
  position: sticky;
  align-items: center;
  text-align: center;
  padding-bottom: 1.5rem;
  margin-right: auto;
}

.header nav ul {
  list-style: none;
  padding-right: 20px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  flex-direction:row;
  position: relative;
  height: 5rem;
  margin-top: 2rem;
  background-color: #b3d4fc;
}

.header nav ul li{
  display: inline-block;
  margin-right: 1rem;
}

.header .nav-icon {
  width: 1.8rem;
  transform: scale(1.5);
}

.header span {
  font: bold 20px verdana, sans-serif;
}
