
.main ul {
  list-style: none;
  padding: 0;
}

.main li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.main img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}


main .informacion {
  font-weight: bold;
}

main .precio {
  color: #007bff;
}

main .cantidad {
  color: #28a745;
}
