main{
  display: flex;
  flex-direction: column;
}

.main h1{
  text-align: center;
}

.main figure{
  text-align: center;
}

.main h2{
  position: relative;
  font-size: medium;
  top: 1.5rem;
}

main img{
  width: 35rem;
}

@media only screen and (max-width: 600px) {
  main img{
    width: 30rem;
  }
}

