main {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

main div#contenedor-pago {
  display: grid;
  grid-auto-columns: minmax(100px, auto);
  column-gap: 20px;
  row-gap: 20px;
}

main aside {
  background: #D9D9D9;
  border: 1px solid #222222;
  grid-column: 1;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main section#formulario-pago {
  grid-column: 2;
  background: #D9D9D9;
  border: 1px solid #222222;
  display: flex;
  justify-content: center;
}

main section#formulario-pago img {
  transform: scale(0.70);
}

main section#formulario-pago div.inactivo {
  display: none;
}

main section#formulario-pago div#contenedor-boton {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 5px;
}

main section#formulario-pago a {
  pointer-events: none;
}

main section#formulario-pago button {
  pointer-events: auto;
}

main section#formulario-pago button:hover {
  cursor: pointer;
}

main footer {
  grid-column: 2;
  background: #D9D9D9;
  border: 1px solid #222222;
}

main footer ul {
  padding: 0;
  display: grid;
  grid-auto-columns: minmax(auto, 350px);
  list-style: none;
}

main footer ul li#info-legal {
  grid-column: 1;
  padding-left: 2%;
}

main footer ul li#normativa {
  grid-column: 2;
}
