main {
  width: 600px;
  margin: 0 auto;
  background-color: #AFE9AF;
  padding: 0 20px 20px 20px;
}
h1{
  text-align: center;
}

figure{
  text-align: center;
}

h2{
  position: relative;
  font-size: medium;
  top: 25px;
}
