main  {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main section#lista-entradas {
  grid-column: 1;
}

main section#lista-merchandising {
  grid-column: 2;
}

main section h3 {
  text-align: center;
}

main section ul li{
  display: inline;
}

main button {
  grid-column: 2;
  width: 120px;
  position: relative;
  left: 85%;
}
